---
import Image from "astro/components/Image.astro";

const popularTags = [
	{ tag: "long_hair" },
	{ tag: "highres" },
	{ tag: "underwear" },
	{ tag: "swimsuit" },
	{ tag: "skirt" },
	{ tag: "blush" },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="keywords"
			content="RinconHentai, imageboard, anime, manga, doujinshi, hentai, erotic art, adult content, japanese art, anime art, cartoons, cartoon erotica, video game art, hentai games, fantasy, adventure, slice of life, shoujo, shounen, visual novels, fan art, cosplay, supernatural, action, romance, gaming, popular culture, pop culture, series, movies, comics, fanfiction"
		/>
		<meta name="description" content="Descubre y disfruta del mejor contenido de anime y hentai en RinconHentai. Explora imágenes, doujinshi, y más">
		<title>RinconHentai: Tu Portal de Anime y Hentai</title>
	</head>
	<body>
		<h1 class="text-4xl font-bold text-center mt-8">
			¡Bienvenido a RinconHentai!
		</h1>
		<div class="age-warning">
			<Image
				quality="high"
				id="preview-image"
				src="/banner.png"
				width={500}
				height={500}
				alt="Banner"
				class="mx-auto mb-4 p-2"
			/>
			<div
				class="w-full max-w-xl mx-auto mb-4 p-4 rounded-lg shadow-md bg-gray-800 text-white"
			>
				<form class="search-bar mb-6 flex">
					<input
						type="text"
						id="tag"
						name="search"
						placeholder="Anime, personaje, etc."
						class="appearance-none border border-gray-600 rounded-l px-4 py-2 text-gray-200 bg-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full"
					/>
					<button
						type="submit"
						class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r"
					>
						Buscar
					</button>
				</form>
				<h2 class="text-2xl font-bold text-center mb-4">
					Etiquetas Populares
				</h2>
				<div class="flex flex-wrap gap-2 justify-center">
					{
						popularTags.map(({ tag }) => (
							<a
								href={`/tags/${tag}/1`}
								class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
							>
								{tag}
							</a>
						))
					}
				</div>
			</div>
			<a
				href="/inicio/1"
				class="block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-center mx-auto mt-4 max-w-48"
			>
				Ir a Inicio
			</a>
		</div>
		<footer class="footer p-8">
			<h2 class="text-2xl font-bold text-center">Advertencia de Edad</h2>
			<p class="text-sm text-gray-600 mb-4">
				Este sitio es solo para propósitos de entretenimiento y no está
				destinado a menores de edad. Al usar este sitio, aceptas
				nuestros
				<a
					href="/terminos-de-uso
					"
					class="text-blue-500 hover:text-blue-700 underline"
					>términos de uso</a
				>.
			</p>
		</footer>

		<script>
			const form = document.querySelector(".search-bar");
			form?.addEventListener("submit", (e) => {
				e.preventDefault();
				const input = (
					document.getElementById("tag") as HTMLInputElement
				).value;
				const tag = input.trim().replace(/\s/g, "-");
				window.location.href = `/tags/${tag}/1`;
			});
		</script>

		<style>
			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;
				background-color: #070707;
				color: #fff;
			}
			.age-warning {
				text-align: center;
			}
			.age-warning img {
				width: 50%;
				height: auto;
				margin-top: 30px;
				border-radius: 10px;
				box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
			}

			#preview-image {
				height: 380px;
				width: auto;
				margin-top: 30px;
				border-radius: 10px;
				box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
				object-fit: cover;
			}

			p {
				max-width: 500px;
				margin: 1rem auto;
			}

			@media (max-width: 600px) {
				.age-warning img {
					width: 80%;
				}

			}
		</style>
	</body>
</html>
