---
import LegalLayout from "../layouts/LegalLayout.astro";
---

<LegalLayout
  title="Términos de Uso"
  description="Términos de servicio de RinconHentai"
>
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
    <p class="mb-4">
      Bienvenido a RinconHentai. Al acceder a este sitio, aceptas los siguientes
      términos de servicio.
    </p>
    <p class="mb-4">
      1. Uso del sitio: Este sitio está destinado únicamente a usuarios mayores
      de edad. Al usar nuestro sitio, aceptas que eres mayor de edad y que
      aceptas nuestros términos de servicio.
    </p>
    <p class="mb-4">
      2. Contenido del sitio: Todo el contenido de nuestro sitio es solo para
      propósitos de entretenimiento y no está afiliado ni respaldado por ninguna
      empresa o marca de terceros mencionada en el sitio. No podemos eliminar
      imágenes específicas por infracción a DMCA, ya que no almacenamos ni
      distribuimos las imágenes mostradas en nuestro sitio.
    </p>
    <p class="mb-4">
      3. Uso de contenido: No puedes utilizar nuestro sitio para ningún
      propósito ilegal o no autorizado, incluidos, entre otros, el acceso no
      autorizado a otros sistemas informáticos, el interferir con el
      funcionamiento del sitio o la violación de los derechos de autor de
      terceros.
    </p>
    <p class="mb-4">
      4. Privacidad: Respetamos tu privacidad y no recopilamos ninguna
      información personal sobre ti, excepto la información necesaria para
      proporcionarte el servicio. Consulta nuestra <a
        class="text-blue-500 hover:text-blue-700 underline"
        href="/politica-de-privacidad">política de privacidad</a
      > para obtener más detalles.
    </p>
    <p class="mb-4">
      5. Exención de responsabilidad: Nuestro sitio se presenta "tal cual", sin
      garantías de ningún tipo, ya sean expresas o implícitas. No seremos
      responsables de ningún daño directo, indirecto, incidental, consecuente o
      punitivo resultante del uso de nuestro sitio.
    </p>
    <p class="mb-4">
      6. Cambios en los términos de servicio: Nos reservamos el derecho de
      modificar estos términos de servicio en cualquier momento sin previo
      aviso. Al continuar utilizando nuestro sitio después de dichos cambios,
      aceptas los términos modificados.
    </p>
    <p class="mb-4">
      Si tienes alguna pregunta o inquietud sobre nuestros términos de servicio,
      por favor contáctanos en <a
        class="text-blue-500 hover:text-blue-700 underline"
        href="mailto:rinconhentai@proton.me">rinconhentai@proton.me</a
      >.
    </p>
  </div>
</LegalLayout>
