---

---

<nav class="bg-gray-100 p-4 shadow-md flex justify-between items-center">
    <form class="search-bar flex items-center">
        <input
            type="search"
            id="tag"
            placeholder="Buscar"
            class="w-64 p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-red-500 text-black"
        />
        <button
            type="submit"
            class="p-2 bg-white text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-500 rounded-r-md"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
                <path
                    fill-rule="evenodd"
                    d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM8 14a6 6 0 100-12 6 6 0 000 12z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </form>
    <a
        href="inicio/1"
        class="p-2 bg-white text-red-800 rounded-md hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-500 px-8 py-2"
    >
        Inicio
    </a>
</nav>

<script>
    const form = document.querySelector(".search-bar");
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const input = (document.getElementById("tag") as HTMLInputElement)
            .value;
        const tag = input.trim().replace(/\s/g, "-");
        window.location.href = `/tags/${tag}/1`;
    });
</script>

<style>
    nav {
        width: 100%;
        height: 5rem;
        top: 0;
        z-index: 1000;
        background: linear-gradient(90deg, #630000 0%, #ff6f61 100%);
        color: white;
    }
</style>
